<header>
  <div class="container">
    <a routerLink="/" class="logo">Pen Tablet App</a>
    <!--<a routerLink="/adminProducto" class="btn btn-primary text-light">ADMIN</a>-->
    <nav>
      <ul>
        <li>
          <a routerLink="/listaPorClasificacion" 
            [queryParams]="{idClasificacion:1}">
          Tabletas Gráficas
        </a>
        </li>

        <li>
          <a routerLink="/listaPorClasificacion"
            [queryParams]="{idClasificacion:2}">
            Monitores Gráficos
          </a>
        </li>

        <li *ngIf="!isLogged">
          <a routerLink="/login">Login</a>
        </li>

        <li class="menu-container" *ngIf="isLogged">
          <a routerLink="">Usuario</a>
          <div class="menu">
            <a routerLink="/perfil">Perfil</a>
            <button (click)="cerrarSession()">Cerrar Sesión</button>
          </div>
        </li>
        
        <li>
          <a routerLink="/carrito">
            <i class="material-icons">
              shopping_cart
            </i>
            Carrito <span>2</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
