<!--Después ver donde va esto, si va con lista de pedidos o en un modal aparte-->
<div class="container">
    <h3 class="text-center">Carrito de compras</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tabletas
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio unitario
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let producto of productosEnCarrito">
                    <td>
                        {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidad}} 
                    </td>
                    <td>
                        {{producto.precio | currency}} 
                    </td>
                    <td>
                        <!--
                        <button class="btn btn-primary me-2" (click)='sumar(producto.id);'>+</button> 
                        <button class="btn btn-primary me-2" (click)='restar(producto.id);'>-</button> 
                        <button class="btn btn-primary" (click)='eliminar(producto.id);'>x</button>
                        -->
                    </td>
                </tr>
        </tbody>
    </table>
    <p class="text-end" (click)="calcularTotal();">Total {{total | currency}}</p>
    <div class="text-end"> 
        <button (click)="comprarProducto();" class="btn">Comprar</button>
    </div>
</div>
