<h1 class="text-center my-3 fw-light">Pen Tablet</h1>
<div class="container my-4 mx-auto ">
  <div class="row ">
    <div *ngFor="let product of productos" 
          class="col-xl-3 col-lg-4 col-md-6 col-sm-11 mb-4">

      <a  class="card text-decoration-none text-black shadow">

        <img  src="{{product.imgUrl}}" 
              class="card-img-top px-2" style="cursor:pointer"
              alt="Imagen de {{product.nombre}}"
              routerLink="/producto" 
              [queryParams]="{prodId: product.id }"/>

        <div class="card-body">

          <h5 class="card-title" style="cursor:pointer"
              routerLink="/producto" 
              [queryParams]="{prodId: product.id }">
            {{product.nombre}}
          </h5>
          <h6 class="card-subtitle">${{product.precio}}</h6>

          <button  (click)="agregarProductoAlCarrito(product.id)" 
              class="btn btn-primary 
                    mt-3 w-100
                    d-flex justify-content-center align-items-center">

            <i class="material-icons me-2">
              add_shopping_cart
            </i>
            Añadir al carrito 
          </button>
        </div>
      </a>

    </div>
  </div>
</div>
