<app-header [email]="username"></app-header>

<router-outlet></router-outlet> <!-- agrega los componentes correspondientes a la url, según app-routing.module.ts -->

<app-footer></app-footer>

<!--
<div *ngIf="username; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <p>Bienvenido {{ username }}</p>
</ng-template>
<ng-template #elseBlock>
  <p>Nos gustaria saludarlo, cual es su nombre?</p>
</ng-template>

<div [formGroup]="formGroup">
  <input id="username" formControlName="username" />
</div>
<button (click)="onSubmit()">Submit</button>
-->