<div  class="login" >
    <form (ngSubmit)="registrar2()" [formGroup]="regitrarUsuario" class="custom-form" method="post">
      <h1>Sing up</h1>
      <input
      type="text"
      id="nombre"
      placeholder="Ingrese Nombre"
      required="required"
      formControlName="nombre"
      />
      <span *ngIf="regitrarUsuario.get('nombre')?.hasError('required') && regitrarUsuario.get('nombre')?.touched"  class="text-danger errorLabel" >El <strong>nombre</strong> es requerido</span>

      <input
      type="text"
      id="Apellido"
      placeholder="Ingrese Apellido"
      required="required"
      formControlName="apellido"
      />
      <span *ngIf="regitrarUsuario.get('apellido')?.hasError('required') && regitrarUsuario.get('apellido')?.touched"  class="text-danger errorLabel" >El <strong>apellido</strong> es requerido</span>

      <input
      type="text"
      id="dir"
      placeholder="Ingrese Direccion"
      required="required"
      formControlName="direccion"
      />
      <span *ngIf="regitrarUsuario.get('direccion')?.hasError('required') && regitrarUsuario.get('direccion')?.touched"  class="text-danger errorLabel" >La <strong>dirección</strong> es requerida</span>
      <input
        type="email"
        id="email"
        placeholder="Ingrese email"
        required="required"
        formControlName="email"
      />
      <span *ngIf="regitrarUsuario.get('email')?.hasError('email') && regitrarUsuario.get('email')?.touched"  class="text-danger errorLabel" >El <strong>email</strong> no tiene el formato correcto</span>
      <input
        type="password"
        id="password"
        placeholder="Ingrese contraseña"
        required="required"
        formControlName="password"
      />
      <span *ngIf="regitrarUsuario.get('password')?.hasError('pattern') && regitrarUsuario.get('password')?.touched"  class="text-danger errorLabel" >La <strong>contraseña</strong> debe tener minimo 8 caracteres, una letra mayúscula, una letra minúscula,un numero y un caracter especial</span>
      <input
      type="password"
      id="repetirPassword"
      placeholder="Repita la contraseña"
      required="required"
      formControlName="repetirPassword"
      />
      
      <button type="submit">Registrar</button>

      <div>
        <p class="mt-3">Tienes cuenta? <a routerLink="/login" >Inicie sesion</a></p>
      </div>
    </form>
    <app-spinner></app-spinner>
    
  </div>
  