<div class="login container d-flex justify-content-center align-items-center" style="width: 40%;">

    <form (ngSubmit)="registrar2()" 
          [formGroup]="regitrarUsuario" 
          method="post"
          class="w-100 card px-5 py-4 shadow mt-5" >
      <h1 class="text-center fw-light mb-4">Sing up</h1>
      <input
      type="text"
      id="nombre"
      placeholder="Ingrese Nombre"
      required="required"
      formControlName="nombre"
      class="form-control mt-3"
      />
      <span *ngIf="regitrarUsuario.get('nombre')?.hasError('required') && regitrarUsuario.get('nombre')?.touched"  class="text-danger errorLabel" >El <strong>nombre</strong> es requerido</span>

      <input
      type="text"
      id="Apellido"
      placeholder="Ingrese Apellido"
      required="required"
      formControlName="apellido"
      class="form-control mt-3"
      />
      <span *ngIf="regitrarUsuario.get('apellido')?.hasError('required') && regitrarUsuario.get('apellido')?.touched"  class="text-danger errorLabel" >El <strong>apellido</strong> es requerido</span>

      <input
      type="text"
      id="dir"
      placeholder="Ingrese Direccion"
      required="required"
      formControlName="direccion"
      class="form-control mt-3"
      />
      <span *ngIf="regitrarUsuario.get('direccion')?.hasError('required') && regitrarUsuario.get('direccion')?.touched"  class="text-danger errorLabel" >La <strong>dirección</strong> es requerida</span>
      <input
        type="email"
        id="email"
        placeholder="Ingrese email"
        required="required"
        formControlName="email"
        class="form-control mt-3"
      />
      <span *ngIf="regitrarUsuario.get('email')?.hasError('email') && regitrarUsuario.get('email')?.touched"  class="text-danger errorLabel" >El <strong>email</strong> no tiene el formato correcto</span>
      <input
        type="password"
        id="password"
        placeholder="Ingrese contraseña"
        required="required"
        formControlName="password"
        class="form-control mt-3"
      />
      <span *ngIf="regitrarUsuario.get('password')?.hasError('pattern') && regitrarUsuario.get('password')?.touched"  class="text-danger errorLabel" >
        La <strong>contraseña</strong> debe tener mínimo 8 caracteres, una letra minúscula, una mayúscula, un número y un símbolo.
      </span>
      <input
      type="password"
      id="repetirPassword"
      placeholder="Repita la contraseña"
      required="required"
      formControlName="repetirPassword"
      class="form-control mt-3"
      />
      
      <button type="submit"
              class="btn btn-primary d-flex align-items-center justify-content-center fs-4 mt-4">
        <span class="material-icons me-2">
          person_add
        </span>
        Registrarse
      </button>
      <hr>
      <div>
        <p class="mt-2 d-flex align-items-center ">
          Tienes cuenta? 
          <a  routerLink="/login"
              class="btn btn-outline-primary ms-3 d-flex align-items-center justify-content-center">
            <span class="material-icons me-2">
              login
            </span>
            Inicie sesión
          </a>
        </p>
      </div>
    </form>
    <app-spinner></app-spinner>
  </div>
  