<div class="d-flex justify-content-around flex-wrap
            container" style="margin-top:1em;">
  <div class="col-lg-3 col-12 p-2">
    <div class="d-flex justify-content-center flex-wrap 
                container row 
                text-center bg-light rounded shadow">
      <span class="material-icons text-center" style="font-size: 10em">
        account_circle
      </span>
      <h4>{{usuario.nombre}} {{usuario.apellido}}</h4>
      <p class="mb-1">mail: {{usuario.email}}</p>
      <p class="mb-4">{{usuario.direccion}}</p>
    </div>
  </div>
  
  <div class="col-lg-8 col-12 p-2">
    <h3>Carritos comprados:</h3>
    <hr>

    <h5 *ngIf="carritos.length == 0">Aun no hiciste ninguna compra</h5>
    <div *ngIf="carritos.length != 0" class="row">
      <ul class="list-group col">
        <li *ngFor="let car of carritos"
            (click)="verCarrito(car.id);"
            class="list-group-item mb-1 rounded" style="cursor: pointer;">

          <p class="mb-0">Id de compra: <strong>{{car.id}}</strong></p>
          <p class="mb-0">Fecha de realización: <strong>{{car.fecha | date}}</strong></p>
          <p class="mb-0">Total pagado: <strong>{{car.totalPagado | currency}}</strong></p>
        </li>
      </ul>
      <ul class="list-group col">
        <h4 *ngIf="productos.length == 0" class="h6"> Seleccione un carrito para ver los productos comprados </h4>

        <div *ngIf="productos.length != 0" class="bg-white rounded p-2">
          <div class="h5 w-100 d-flex">
            <span>Id de Carrito: <strong> {{carritoEnPantalla.id}}</strong></span>
            <strong style="margin-left: auto;">{{carritoEnPantalla.fecha | date}}</strong>
          </div>
  
          <li *ngFor="let prod of productos" class="list-group-item">
            <img src="{{prod.imgUrl}}" alt="{{prod.nombre}}" style="max-width:75px; max-height: 75px;">
            <strong>{{prod.nombre}}</strong><br>
            <span>precio por unidad: {{prod.precioPagadoPorUnidad | currency}}</span><br>
            <span>cantidad: {{prod.cantidad}}</span>
          </li>

          <h5 class="mt-2">Total pagado: <span class="text-primary">{{carritoEnPantalla.totalPagado | currency }}</span></h5>
        </div>
        
      </ul>
    </div>

  </div>
</div>