<h1 class="text-center my-3">{{tipoDeProductos}}</h1>

<div class="container" style="margin: 1em auto;">
    <div class="row">
        <div *ngFor="let product of productosAMostrar" class="col-3" style="margin-bottom: 1em;">
            
            <div class="card">
                <a routerLink="/producto" [queryParams]="{prodId: product.id }">
                    <img src="{{product.imgUrl}}" class="card-img-top" alt="Imagen de {{product.nombre}}"/>
                </a>
                <div class="card-body">
                    <a routerLink="/producto" [queryParams]="{prodId: product.id}">
                    <h5 class="card-title">{{product.nombre}}</h5>
                    </a>
                    <p class="card-text">$ {{product.precio}}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
