<main class="mt-lg-5">
    <article class="container d-flex justify-content-around bg-light p-5">
        <div class="bloqueImagenes col-lg-5">
            <p>
                <a routerLink="/">Inicio</a> / 
                    <a  routerLink="/listaPorClasificacion" 
                        [queryParams]="{idClasificacion:tipoProducto}">
                        {{producto.clasificacion}}
                    </a> / 
                        <a  routerLink='/producto'
                            [queryParams]="{prodId:producto.id}">
                            {{producto.nombre}}
                        </a> 
            </p>
            <img class="w-100" src="{{producto.imgUrl}}" alt="imgProducto">
        </div>
        <form 
            class=" bloqueInfo col-lg-5 
                    container row d-flex justify-content-start " 
            [method]="" [action]="">

            <div class="titular col-12">
                <h3 class="col-12 fw-light">{{producto.nombre}}</h3>
                <h2 class="col-12">${{producto.precio}}</h2>

            </div>
            <div [innerHTML]="producto.descripcion" class="descripcion"> 
            </div>
            <button (click)="agregarProductoAlCarrito(producto.id)" class="btnEnviar btn btn-primary col-8">AGREGAR AL CARRITO</button>

        </form>
    </article>

</main>

