<main class="mt-lg-5">
    <article class="container d-flex justify-content-around bg-light p-5">
        <div class="bloqueImagenes col-lg-5">
            <p><a href="">Inicio</a> / <a href="">Tabletas Graficas</a> / <a href="">HUION HS64</a> </p>
            <img class="w-100" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/860/363/products/huion-hs64-pen-tablet-011-96d426e48d4605b89716008966178343-640-0.jpg" alt="imgProducto">
        </div>
        <form 
            class=" bloqueInfo col-lg-5 
                    container row d-flex justify-content-start " 
            [method]="" [action]="">

            <div class="titular col-12">
                <h3 class="col-12">{{producto.nombre}}</h3>
                <h2 class="col-12">${{producto.precio}}</h2>

            </div>
            <div class="cantidad">
                <label for="inputCantidad"><strong>Cantidad</strong></label>
                <input type="number" name="inputCantidad" id="inputCantidad" min="1" value="1" class="inputCantidad form-control col-6 w-50">
            </div>
            <button class="btnEnviar btn btn-primary col-8">AGREGAR AL CARRITO</button>

        </form>
    </article>

</main>

